<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	
<link th:href="@{index.css}" rel="stylesheet" />
</head>
<body>

	<section>
		<div class="container">
			<div class="row">

				<div class="col-md-8 offset-md-2">
					<div class="my-card">
					
						<h1 class="text-center">Fill Your Details</h1>
						
						<form th:action="@{/}" th:object="${newDetails}" method="post">
						
						<div class="form-group">
								<label for="name">Name</label>
								 <input
									type="text" 
									class="form-control" 
									id="name"
									name="name"
									aria-describedby="emailHelp"
									placeholder="Full Name"> 
									
							</div>

	
							<div class="form-group">
								<label for="exampleInputEmail1">Email address</label>
								 <input
									type="email" 
									class="form-control" 
									id="exampleInputEmail1"
									name="email"
									aria-describedby="emailHelp"
									placeholder="@example.com"> 
									
									<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
							</div>
							
							
								<div class="form-group">
								<label for="phoneNumber">Phone Number</label>
								 <input
									type="text" 
									class="form-control" 
									id="phoneNumber"
									name="phoneNumber"
									aria-describedby="emailHelp"
									placeholder="your 10 Digit modile number"> 
									
									<small id="emailHelp" class="form-text text-muted">We'll never share your phone number with anyone else.</small>
							</div>
							
							
							<button type="submit" class="btn btn-primary ">submit</button>
							
						</form>
		
					</div>


				</div>

			</div>

		</div>
	</section>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
		crossorigin="anonymous">
   </script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js">
</script>
</body>
</html>